@model PL.Models.ProjectViewModel

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.CustomerId }, null)
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Issues</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Manage issues", "IndexByProject", "Issue", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to previous list", "GetCustomers", new {customerId = Model.CustomerId}, null)
</div>
